{% extends 'base_layout.html' %}

{% block stylecontent %}
<style>
    h1 {
        border-top-style: dotted;
        border-right-style: solid;
        border-bottom-style: dotted;
        border-left-style: solid;
        font-size: 70px;
        font-family: algerian;
    }

    h4 {
        font-weight: 400;
        font-size: 30px;
    }

    a:hover {
        text-decoration: none;
    }

    .foot {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
</style>
{% endblock %}


{% block bodycontent %}
<br><br>
<div class="container text-center">
    <h1>!! WELCOME to BOI !!</h1><br>
    <h4><em><b>..........We are here to help you :)..........</b></em></h4><br><br>
    <h5>Bank of India was founded on 7th September, 1906 by a group of eminent businessmen from Mumbai. The Bank was under private ownership and control till July 1969 when it was nationalised along with 13 other banks.
        The board of Bank of India is examining the possibility of merger with other banks, based on the synergy in business According to Dinabandhu Mohapatra, Managing Director and Chief Executive Officer said on 17 September 2017 that the bank is in the process of strengthening its systems and processes before exploring merger possibilities[6]

    </h5>
</div>

<br><br><br>

<div class="container">
    <a href="{% url 'accounts:signup' %}"><button class="btn btn-info btn-block " id="acc"><i
                class="fa fa-file-text"></i> Create new account</button></a>
    <br><br>
    <a href="{% url 'accounts:signin' %}"><button class="btn btn-warning btn-block " id="sign_in"><i
                class="fa fa-sign-in"></i> Sign in</button></a>
</div>

<br>
{% endblock %}